@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;1,700&display=swap');

body {
  overflow: hidden;
}

.main {
  font-family: 'Karla', sans-serif;
  display: flex;
  min-height: 100vh;
  width: inherit;
  padding: 0;
  background-image: url(https://images.unsplash.com/photo-1598985348522-aab254d10928?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  position: sticky;
  overflow: hidden;
}

.content {
  height: inherit;
  display: flex;
  flex-basis: 80vw;
  flex-direction: column;
  justify-content: flex-start;
}

.form2 {
  display: flex;
  flex-basis: 3vh;
  border-bottom: 8px solid rgb(202, 122, 17);
}

.form2 > button {
  color: rgb(238, 164, 68);
  flex-grow: 2;
  font-size: 5vh;
  background-color: rgb(58, 56, 54);
  transition: 0.3s;
  border: none;
}

.form2 > button:hover {
  color: rgb(58, 56, 54);
  background-color: rgb(238, 164, 68);
}

.form2 > button:active {
  background-color: rgb(192, 133, 55);
}

.form2 > input {
  padding: 3vh 0 3vh 1vw;
  font-size: 3vh;
  flex-grow: 0.5;
  border: none;
  background-color: rgb(58, 56, 54);
  color: rgb(241, 198, 77);
  transition: 0.3s;
}

.form2 > input:hover {
  background-color: rgb(49, 47, 45);
}

.masonry {
  margin-top: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  overflow-y: scroll;
}

.masonry > .card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 10px;
  border: 1px solid rgb(26, 25, 24);
  overflow: hidden;
  margin: 10px;
  width: 400px;
  background-color: rgb(26, 25, 24);
}

.card > h2 {
  line-height: 60px;
  margin: 0;
  border: none;
  color: rgb(238, 164, 68);
  width: inherit;
  text-align: center;
  flex-basis: 10%;
  background-color: rgb(26, 25, 24);
}

.card > ul {
  color: white;
  flex-basis: 80%;
  align-self: center;
  width: inherit;
  padding-left: 20px;
  overflow-y: scroll;
  font-size: 0.8vw;
  background-color: rgb(26, 25, 24);
}

.card > ul > li {
  display: flex;
  justify-content: space-between;
}
.card > ul > li > p {
  margin-bottom: 10px;
  flex-basis: 50%;
}
.card > ul > li > span {
  justify-content: flex-end;
  padding-right: 20px;
}
.card > ul > li > span > button {
  display: none;
  margin-left: 5px;
  background-color: rgb(26, 25, 24);
  border-radius: 5px;
  transition: 0.3s;
}

.card > ul > li > span > button:nth-of-type(1) {
  color: rgb(129, 236, 57);
  border: 1px solid rgb(129, 236, 57);
}
.card > ul > li > span > button:nth-of-type(2) {
  color: rgb(238, 9, 9);
  border: 1px solid rgb(238, 9, 9);
}

.card > ul > li:hover > span > button {
  display: inline-block;
}
.card > ul > li > span > button:hover:nth-of-type(1) {
  background-color: rgb(129, 236, 57);
  color: white;
}
.card > ul > li > span > button:hover:nth-of-type(2) {
  background-color: rgb(238, 9, 9);
  color: white;
}

.card > form {
  background-color: rgb(26, 25, 24);
  margin: 0 20px 10px;
  display: flex;
}
.card > form > input {
  color: rgb(241, 198, 77);
  background-color: rgb(26, 25, 24);
  border: 1px solid rgb(241, 198, 77);
  padding-left: 10px;
  margin-right: 7px;
  border-radius: 5px;
  flex-grow: 2;
  transition: 0.3s;
}
.card > form > button {
  flex-grow: 1.5;
  background-color: rgb(26, 25, 24);
  border: 1px solid rgb(47, 167, 236);
  border-radius: 5px;
  color: rgb(47, 167, 236);
}
.card > form > button:hover {
  background-color: rgb(47, 167, 236);
  color: rgb(26, 25, 24);
}

.scroll::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(71, 71, 71, 0.733);
  border-radius: 10px;
  box-shadow: inset;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: rgb(192, 133, 55);
}

.main > .members {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 20vw;
  height: inherit;
  background-color: rgba(58, 52, 52, 0.466);
  color: rgb(238, 164, 68);
  font-size: 3vh;
}

.main > .members > ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.main > .members > h2 {
  text-align: center;
  justify-self: center;
  padding: 3vh 0 3.4vh 0;

  font-size: 3.45vh;
  flex-basis: 3vh;
  border-bottom: 8px solid rgb(202, 122, 17);
}
.main > .members > ul > li {
  display: flex;
  justify-content: space-around;
}
